/* Simple Reset */
* { 
  margin: 0;
  padding: 0;
}

/* Estilo desktop */
body{
  background-color: #0E1014;
  font-size: 24pt;
  color: #ffffff;
}

.logo{
  display: block;
  width: 210px;
  height: 34px;
  margin:75px 0 0 360px ; 
}

h1{
  font-size: 64px;
  font-family: "Unbounded", Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  width: 792px;
  margin: 60px auto 0;
}

p{
  font-size:  24px;
  font-family: "Poppins", Arial, Helvetica;
  font-weight: regular;
  text-align: center;
  width: 792px;
  margin: 24px auto 0;
}

.botao{ 
  color: #ffffff;
  font-size:  24px;
  text-decoration: none;
  background-color: #9747FF;
  font-family: "Poppins", Arial, Helvetica;
  display: block;
  width: 340px; 
  height: 66px;
  line-height: 66px;
  text-align: center; 
  border-radius: 36px;
  margin: 40px auto;
}

a:hover{
  background-color: #8233E8;
}

span {
  color: #9747FF;
}

.image_cell{
  display: block; 
  width: 792px;
  height: 446px;
  margin: 0 auto;
}



/* TABLET */
@media(max-width: 768px) { 
  .logo{
    margin:65px 0 0 60px ;
  }
  h1{
    width: 648px;
  }

  p{
    width: 648px;
  }
  .image_cell{
    width: 624px;
    height: 446px;
  }
}


/* CELULAR */
@media(max-width: 375px) {
  .logo{
    margin:32px 0 0 16px ;
  }
  h1{
    font-size: 40px;
    width: 341px;
  }

  p{
    width: 340px;
    font-size: 20px;
  }
  .botao{
  font-size: 20px;
  width: 251px; 
  }
  .image_cell{
    width: 333px;
    height: 231px;
  }
}